body {
  min-height: 100vh;
  background-color: #e6f4fc;
  background-image: linear-gradient(
    128deg,
    rgba(255, 0, 0, 0.0625),
    rgba(0, 255, 255, 0.125)
  );
  background-blend-mode: overlay;
  animation: backgroundAnimation 48s linear infinite;
}

.flashing {
  animation: flashingAnimation 5s infinite;
  animation-timing-function: ease-in-out;
-webkit-animation-timing-function: ease-in-out;
}

.bg-flashing {
  animation: backgroundFlashingAnimation 5s infinite;
  animation-timing-function: ease-in-out;
-webkit-animation-timing-function: ease-in-out;
}

.bg {
  background-color: #e6f4fc;
  background-image: linear-gradient(
    128deg,
    rgba(255, 0, 0, 0.0625),
    rgba(0, 255, 255, 0.125)
  );
  background-blend-mode: overlay;
  animation: backgroundAnimation 48s linear infinite;
}
@keyframes backgroundAnimation {
  0% {
    background-color: rgb(230, 244, 252);
  }
  8.33333% {
    background-color: rgb(235, 237, 252);
  }
  16.6667% {
    background-color: rgb(242, 235, 252);
  }
  25% {
    background-color: rgb(250, 235, 252);
  }
  33.3333% {
    background-color: rgb(252, 235, 246);
  }
  41.6667% {
    background-color: rgb(252, 235, 237);
  }
  50% {
    background-color: rgb(252, 239, 231);
  }
  58.3333% {
    background-color: rgb(251, 249, 227);
  }
  66.6667% {
    background-color: rgb(234, 252, 231);
  }
  75% {
    background-color: rgb(231, 252, 239);
  }
  83.3333% {
    background-color: rgb(231, 252, 250);
  }
  91.6667% {
    background-color: rgb(249, 249, 250);
  }
  100% {
    background-color: rgb(230, 244, 252);
  }
}

@keyframes flashingAnimation {
  0% {
    color: #ec3750;
    filter: brightness(1);
  }
  20% {
    color: #ff8c37;
    filter: brightness(1.2);
  }
  40% {
    color: #33d6a6;
    filter: brightness(1);
  }
  60% {
    color: #a633d6;
    filter: brightness(1.2);
  }
  80% {
    color: #338eda;
    filter: brightness(1);
  }
  96% {
    color: #ec3750;
    filter: brightness(1);
  }
  100% {
    color: #ec3750;
    filter: brightness(1);
  }
}

@keyframes backgroundFlashingAnimation {
  0% {
    background-color: #ec3750;
    filter: brightness(1);
  }
  20% {
    background-color: #ff8c37;
    filter: brightness(1.2);
  }
  40% {
    background-color: #33d6a6;
    filter: brightness(1);
  }
  60% {
    background-color: #a633d6;
    filter: brightness(1.2);
  }
  80% {
    background-color: #338eda;
    filter: brightness(1);
  }
  96% {
    background-color: #ec3750;
    filter: brightness(1);
  }
  100% {
    background-color: #ec3750;
    filter: brightness(1);
  }
}